:root {
  --p-inputtext-border-color: none !important;
  --p-inputtext-shadow: none !important;
  --p-inputtext-padding-y: none !important;
}
.p-inputtext {
  font-size: 14px !important;
  color: #152c5b !important;
  border: 1px solid #eeeeee !important;
  height: 48px !important;
  padding-left: 20px !important;
  font-size: 14px !important;
  color: #152c5b !important;
  border-radius: 8px !important;
  width: 370px !important;
}
@media (max-width: 768px) {
  .p-inputtext {
    width: 300px !important;
  }
}

input {
  background-color: transparent !important;
}

input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
