<div class="bg-feature-bg xl:pb-[64px]">
  <div
    class="pt-[52px] pb-[32px] px-[104px] max-md:px-[24px] max-md:pt-[40px] max-md:pb[0px]"
  >
    <h3 class="text-[36px] font-pt text-blue font-bold max-md:text[24px]">
      {{ "home.featured-properties.title" | translate }}
    </h3>
    <div class="flex justify-between">
      <p
        class="font-inter text-gray-400 font-normal max-md:text-[14px] max-md:w-[213px]"
      >
        {{ "home.featured-properties.description" | translate }}
      </p>
      <p
        class="text-purple font-medium cursor-pointer border-b border-purple max-md:text-[14px] max-md:flex max-md:items-end"
      >
        {{ "home.featured-properties.viewAll" | translate }}
      </p>
    </div>
  </div>
  <app-features />
</div>
