<div class="w-[100%] flex max-md:flex-col max-md:p-[24px]">
  <div class="max-md:m-auto max-md:mb-0">
    <img src="assets/images/phone.png" alt="" class="" />
  </div>
  <div class="mt-[193px] max-md:mt-0">
    <h4
      class="font-pt text-[36px] text-blue font-bold leading-[48px] mr-[51px] max-md:text-[30px] max-md:mr-0"
    >
      {{ "home.card.title" | translate }}
    </h4>
    <p
      class="font-inter font-[400] text-gray-400 mt-[16px] text-[24px] leading-[32px] mr-[51px] max-md:text-[14px]"
    >
      {{ "home.card.description" | translate }}
    </p>
    <div class="mt-[56px] rtl:mr-[42px]">
      <a
        href=""
        class="font-inter font-[600] text-white bg-purple rounded-[8px] pl-[35px] pr-[34px] pt-[21px] pb-[20px] leading-none"
      >
        {{ "home.card.button" | translate }}
      </a>
    </div>

    <img
      src="assets/images/shado.png"
      alt=""
      class="mt-[47px] ml-auto max-md:mb-[24px] max-md:mr-[-24px]"
    />
  </div>
</div>
