.View-All {
  border-bottom: 1px solid #220054;
}
@media (max-width: 768px) {
  .about {
    padding: 40px 24px 0 24px;
  }
  h3 {
    font-size: 24px;
  }
  .p1 {
    font-size: 14px;
    width: 213px;
  }
  .View-All {
    font-size: 14px;
    display: flex;
    align-items: end;
  }
}
