<div class="bg-featureBg xl:pb-[64px]">
  <div class="about pt-[52px] pb-[32px] pr-[104px] pl-[104px]">
    <h3 class="text-[36px] font-[PT-Sans] text-PrimaryText font-bold">
      Featured Properties
    </h3>
    <div class="flex justify-between">
      <p class="font-[inter] text-fourthText font-normal p1">
        Lorem Ipsum is simply dummy text of the printing.
      </p>
      <p class="text-Primary font-medium cursor-pointer View-All">View All</p>
    </div>
  </div>
  <app-features />
</div>
