@use "../../../../../styles/variables" as *;
main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/Base.png") center/cover no-repeat;
  .p-menubar {
    background-color: transparent;
    border: none;
    a {
      color: white;
    }
    a:hover,
    a:focus,
    a:active {
      color: $hoverIcon;
    }
    .p-menubar-root-list {
      background-color: transparent;
      border: none;
    }
    .p-menubarsub .p-menubar-item-content:hover {
      background-color: transparent;
      border: none;
    }
    .p-iconwrapper {
      font-size: 50px !important;
      position: absolute;
      top: 13px;
      padding: 0 12px;
    }
  }
  .find-property {
    .category {
      .cover-select {
        .p-floatlabel {
          width: 240px !important;
          position: relative;
          .p-select {
            outline: none !important;
            box-shadow: none !important;
            background-color: white !important;
          }
          .p-select.bord {
            border-right: 1px solid $border;
          }
          .p-select-label {
            margin-top: 13px;
            font-size: 16px;
          }
          label {
            font-weight: 600;
          }
        }
      }
    }
    .range {
      .p-slider-handle:hover {
        background-color: $Primary !important;
      }
    }
  }
}
.pi-angle-down {
  font-size: 20px !important;
}
@media (max-width: 960px) {
  main {
    padding-bottom: 96px;
    .p-menubar {
      .p-menubar-end {
        margin: auto;
        display: none;
      }
      .p-iconwrapper {
        position: absolute !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
      }
      .p-menubar-mobile {
        display: block;
      }
      .p-menubar-button {
        margin-inline-start: auto;
      }
      .p-menubar-root-list {
        background-color: #666666 !important;
      }
    }
    .find-property {
      margin-top: 104px !important;
      margin-bottom: 50px;
      .find {
        font-size: 16px !important;
        width: 80% !important;
      }
      .category {
        width: 80% !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        height: auto !important;
        .cover-select {
          flex-direction: column !important;
          gap: 32px !important;
          padding: 32px !important;
          .p-floatlabel {
            width: 100% !important;
          }
          .p-select.bord {
            border-bottom: 1px solid #eeeeee !important;
            border-right: none !important;
          }
          .p-select-label.p-placeholder {
            margin-bottom: 16px;
          }
          .search {
            margin-left: auto !important;
            margin-top: 50px;
          }
        }
      }
      .range {
        width: 100% !important;
        bottom: 15%;
        background-color: transparent;
        .p-slider {
          width: 150px !important;
        }
      }
    }
    .arrow {
      display: none !important;
    }
    .select-none {
      width: 100%;
      .pi-angle-down {
        right: 24px;
      }
    }
  }
}
@media (max-width: 1140px) {
  .p-menubar-end {
    margin-right: 0;
  }
}
@media (min-width: 1150px) {
  :root {
    --p-menubar-padding: 40px 104px !important;
  }
}
@media (min-width: 1439px) {
  main .p-menubar-root-list {
    margin-left: 89px !important;
    margin-right: 215px !important;
  }
}
.rtl {
  @media (max-width: 960px) {
    .select-none .pi-angle-down {
      left: 19px;
      right: auto;
    }
  }

  @media (min-width: 960px) {
    main .find-property .category .cover-select .p-floatlabel .p-select.bord {
      border-left: 1px solid #eeeeee !important;
      border-right: none !important;
    }
  }
}
