<div
  class="flex justify-center mt-[116.75px] mb-[148px] mx-auto max-md:mt-[72px] max-md:mb-[0] max-md:ml-[24px]"
>
  <img src="Logo.png" alt="" />
</div>
<div
  class="learn flex gap-[125px] mx-[104px] mb-[102px] relative max-md:block max-md:my-[72px] max-md:mx-auto"
>
  <div class="photo w-1/2 max-md:w-full max-md:mx-auto max-md:mb-[56px]">
    <div class="relative w-fit m-auto">
      <img
        src="Rectangle.png"
        alt=""
        class="bg-purple-300 object-cover w-[606px] max-md:w-[311px]"
      />
      <img
        src="learn.png"
        alt=""
        class="absolute right-[32px] top-[32px] object-cover w-[606px] photo2 max-md:right-[16px] max-md:top-[16px] max-md:w-[311px]"
      />
    </div>
  </div>
  <div class="data w-1/2 max-md:w-full max-md:py-[0] max-md:px-[24px]">
    <h1
      class="text-[36px] text-blue font-bold font-pt tracking-normal mb-[16px] leading-[100%] max-md:text-[30px]"
    >
      Learn about your home's value and selling options.
    </h1>
    <div class="mb-[32px] font-inter">
      <p class="text-gray leading-[28px] mb-[12px] font-normal">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the simply standard dummy text ever dummy
        text of the printing and typesetting industry.
      </p>
      <p class="text-gray leading-[28px] font-normal">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the simply standard dummy.
      </p>
    </div>
    <button
      class="flex justify-center items-center bg-purple text-white w-[156px] h-[60px] rounded-[8px] font-inter"
    >
      Read More
    </button>
  </div>
</div>
