<div class="w-[100%] flex card">
  <div class="photos">
    <img src="phone.png" alt="" class="" />
  </div>
  <div class="mt-[193px] data">
    <h4
      class="font-[PT-Sans] text-[36px] text-[#152C5B] font-bold leading-[48px] mr-[51px]"
    >
      Looking to Buy a new property or Sell an existing one?
    </h4>
    <p
      class="font-[inter] font-[400] text-[#878787] mt-[16px] text-[24px] leading-[32px] mr-[51px]"
    >
      ZRealtors provides an easy solution!
    </p>
    <div class="mt-[56px]"></div>
    <a
      href=""
      class="font-[inter] font-[600] text-white bg-[#220054] rounded-[8px] pl-[35px] pr-[34px] pt-[21px] pb-[20px] leading-none"
    >
      Contact Us
    </a>
    <img src="shado.png" alt="" class="mt-[47px] ml-auto shado" />
  </div>
</div>
