@media (max-width: 768px) {
  .card {
    flex-direction: column;
    padding: 24px;
  }

  .photos {
    margin: auto;

    margin-bottom: 0;
  }
  .data {
    margin-top: 0;
  }
  h4 {
    font-size: 30px;
    margin-right: 0;
  }
  p {
    font-size: 14px;
  }
  .shado {
    margin-bottom: 24px;
    margin-right: -24px;
  }
}
