@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("/src/assets/fonts/PTSans-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/PTSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("/src/assets/fonts/PTSans-Italic.woff2") format("woff2"),
    url("/src/assets/fonts/PTSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("/src/assets/fonts/PTSans-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/PTSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
