$Primary: #220054;
$PrimaryText: #152c5b;
$SecondText: #777e90;
$thirdText: #48546d;
$border: #eeeeee;
$error: #f44336;
$SecondBorder: #ededed;
$bg-error: #fbdcd6;
$hoverIcon: darksalmon;
$successful: #009688;
