<div class="flex ">
  <div class="w-1/2 max-md:hidden">
    <img src="assets/images/sign-up.png" alt="" class="w-full h-full" />
  </div>
  <div
    class="w-1/2 pt-[52px] pb-[53px] flex justify-center max-md:w-full max-md:p-[24px]"
  >
    <form
      [formGroup]="form"
      class="font-inter w-[370px] max-md:w-[300px]"
      (submit)="signUp()"
    >
      <h4 class="text-[24px] font-bold text-blue">Sign up</h4>
      <p class="text-gray-300 text-[14px] font-[500] mt-[15px]">
        Enter details to create your account
      </p>
      <div class="flex flex-col mt-[36px] gap-[24px]">
        <div class="flex flex-col gap-[10px] relative">
          <label for="name" class="text-[12px] text-gray font-[500]"
            >Name</label
          >
          <input
            maxlength="40"
            type="text"
            id="name"
            [formControl]="form.controls.name"
            class="outline-none border border-border rounded-[8px] text-blue text-[14px] font-[400] pl-[20px] h-[48px]"
          />
          @if (form.controls.name.invalid && form.controls.name.touched) { @if
          (form.controls.name.errors?.['required']) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Name is required</span
          >
          } @if (form.controls.name.errors?.['minlength']) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Name must be at least 8 characters long</span
          >
          } }
        </div>
        <div class="flex flex-col gap-[10px] relative">
          <label for="num" class="text-[12px] text-gray font-[500]"
            >Mobile Number</label
          >
          <input
            type="tel"
            pattern="[0-9]*"
            inputmode="numeric"
            id="num"
            [formControl]="form.controls.mobile"
            class="outline-none border border-border rounded-[8px] text-blue text-[14px] font-[400] pl-[20px] h-[48px]"
            maxlength="15"
          />
          @if (form.controls.mobile.invalid && form.controls.mobile.touched) {
          @if (form.controls.mobile.errors?.['required']) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Mobile number is required</span
          >
          } @if (form.controls.mobile.errors?.['minlength']
          ||form.controls.mobile.errors?.['pattern'] ) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Enter a valid phone number (10-15 digits)</span
          >
          } }
        </div>
        <div class="flex flex-col gap-[10px] relative">
          <label for="email" class="text-[12px] text-gray font-[500]"
            >Email address
          </label>
          <input
            maxlength="40"
            type="email"
            id="email"
            [formControl]="form.controls.email"
            class="outline-none border border-border rounded-[8px] text-blue text-[14px] font-[400] pl-[20px] h-[48px]"
          />
          @if (form.controls.email.invalid && form.controls.email.touched) { @if
          (form.controls.email.errors?.['required']) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Email address is required</span
          >
          } @if (form.controls.email.errors?.['email'] ||
          form.controls.email.errors?.['minlength']) {
          <span class="text-error text-[12px] absolute bottom-[-20px]"
            >Enter a valid email with "&#64;" and at least 8 characters</span
          >} }
        </div>
        <div class="flex flex-col gap-[35px]" formGroupName="passwords">
          <div class="flex flex-col gap-[10px] relative">
            <label class="text-[12px] text-gray font-[500]"
              >Create Password
            </label>
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              formControlName="create"
            />
            @if ( form.controls.passwords.get('create')?.invalid &&
            form.controls.passwords.get('create')?.touched) { @if
            (form.controls.passwords.get('create')?.errors?.['required']) {
            <span class="text-error text-[12px] absolute bottom-[-20px]"
              >Create Password is required</span
            >
            } @if (form.controls.passwords.get('create')?.errors?.['minlength']
            || form.controls.passwords.get('create')?.errors?.['pattern'] ) {
            <span
              class="text-error text-[12px] absolute bottom-[-35px] max-md:leading-[1]"
              >Password should be at least 8 characters long and include at
              least one uppercase letter, one lowercase letter, and one number
            </span>
            } }
          </div>
          <div class="flex flex-col gap-[10px] relative">
            <label class="text-[12px] text-gray font-[500]"
              >Confirm Password
            </label>
            <p-password
              [toggleMask]="true"
              [feedback]="false"
              formControlName="confirm"
            />
            @if ( form.controls.passwords.get('confirm')?.invalid &&
            form.controls.passwords.get('confirm')?.touched &&
            form.controls.passwords.get('create')?.errors?.['required'] ||
            form.controls.passwords.errors?.['check'] ) {
            <span class="text-error text-[12px] absolute bottom-[-20px]"
              >Passwords do not match</span
            >
            }
          </div>
        </div>
      </div>
      <div class="relative">
        <button
          type="submit"
          class="mt-[28px] bg-purple rounded-[8px] text-[14px] font-[600] text-white h-[48px] w-full"
          label="show"
        >
          Create an Account
        </button>
      </div>

      <p class="text-gray text-[14px] font-[400] mt-[24px] text-center">
        Already have an account?
        <span
          ><a href="" class="text-purple font-bold" [routerLink]="['/Sig-in']"
            >Sign in</a
          ></span
        >
      </p>
      <div class="flex gap-[12.5px] justify-center items-center mt-[32px]">
        <div class="w-[132px] max-md:w-[97px] h-[1px] bg-border-100"></div>
        <div class="text-gray text-[11px]">Or Sign up with</div>
        <div class="w-[132px] max-md:w-[97px] h-[1px] bg-border-100"></div>
      </div>
      <div class="flex gap-[16px] mt-[36px]">
        <button
          class="flex justify-center w-1/2 border border-border h-[48px] items-center rounded-[8px] gap-[8px]"
        >
          <img src="assets/images/Google.png" alt="" />
          <a class="text-blue text-[14px]" href="https://www.google.com/"
            >Google</a
          >
        </button>
        <button
          class="flex justify-center w-1/2 border border-border h-[48px] items-center rounded-[8px] gap-[8px]"
        >
          <img src="assets/images/face.png" alt="" />
          <a class="text-blue text-[14px]" href="https://www.google.com/"
            >Facebook</a
          >
        </button>
      </div>
    </form>
  </div>
</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  (onHide)="GoToHomePage()"
>
  <ng-template pTemplate="header">
    <div class="text-successfully m-auto text-[30px] font-bold font-inter">
      Congratulations! Your account has been successfully created. You can now
      log in.
    </div>
  </ng-template>
</p-dialog>
<p-toast position="top-center" />
