<main>
  <p-menubar [model]="items">
    <ng-template #start>
      <div class="logo"><img src="Group 14.png" alt="" /></div>
    </ng-template>
    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link">
        <span>{{ item.label }}</span>
        <p-badge
          *ngIf="item.badge"
          [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          [value]="item.badge"
        />
        <span
          *ngIf="item.shortcut"
          class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1"
          >{{ item.shortcut }}</span
        >
        <i
          *ngIf="item.items"
          [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"
        ></i>
      </a>
    </ng-template>
    <ng-template #end class="max-sm:hidden">
      <div class="flex items-center gap-2 cursor-pointer">
        <i class="pi pi-user text-white" [routerLink]="['Sig-up']"></i>
        <a href="" [routerLink]="['Sig-up']">Log-in</a>
      </div>
    </ng-template>
  </p-menubar>
  <div class="FindProperty">
    <div class="bg-white flex m-auto find">
      <div class="w-1/2 box1 h-full overflow-hidden">
        <div
          class="flex justify-center items-center h-full transition-all duration-300"
          [ngClass]="{
            'bg-[#220054]': selectedText === 'Find a Property',
            'bg-white text-black': selectedText !== 'Find a Property'
          }"
          (click)="selectedText = 'Find a Property'"
        >
          <i class="pi pi-home"></i>
          <p class="ml-2">Find a Property</p>
        </div>
      </div>
      <div class="w-1/2 box2 overflow-hidden">
        <div
          class="flex justify-center items-center h-full transition-all duration-300"
          [ngClass]="{
            'bg-[#220054]': selectedText === 'Make a Request',
            'bg-white text-black': selectedText !== 'Make a Request'
          }"
          (click)="selectedText = 'Make a Request'"
        >
          <i class="pi pi-home"></i>
          <p class="ml-2">Make a Request</p>
        </div>
      </div>
    </div>
    <div class="category m-auto bg-white">
      <div class="coverselect flex">
        <p-floatlabel class="w-full md:w-56 bg-white" variant="in">
          <p-select
            [(ngModel)]="value1"
            inputId="in_label"
            [options]="cities"
            optionLabel="name"
            styleClass="w-full"
            variant="filled"
            placeholder="cairo"
            class="bord"
          />

          <label for="in_label" class=""
            ><i class="pi pi-map-marker mr-1"></i>Location</label
          >
        </p-floatlabel>
        <p-floatlabel class="try" variant="in">
          <p-select
            [(ngModel)]="value2"
            inputId="in_label"
            [options]="Category"
            optionLabel="name"
            styleClass="w-full"
            variant="filled"
            placeholder="Property Category"
            class="bord"
          />
          <label for="in_label"><i class="pi pi-home mr-1"></i>Category</label>
        </p-floatlabel>
        <p-floatlabel class="w-full md:w-56" variant="in">
          <p-select
            [(ngModel)]="value3"
            inputId="in_label"
            [options]="Price"
            optionLabel="name"
            styleClass="w-full"
            variant="filled"
            placeholder="$6,500 - $15,000"
          />
          <label for="in_label">
            <i class="pi pi-dollar mr-1"></i>Price Range</label
          >
        </p-floatlabel>
        <button class="search">
          <i class="pi pi-search text-2xl"></i>
        </button>
      </div>
    </div>
    <div class="range">
      <div class="bg-black block mr-4 number">${{ rangeValues[0] }}</div>
      <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="w-56" />
      <div class="bg-black block ml-4 number">${{ rangeValues[1] }}</div>
    </div>
  </div>
  <div class="arrow"><i class="pi pi-angle-down text-2xl"></i></div>
</main>
