<div class="bg-purple-100 text-white font-inter font-[400]">
  <div
    class="m-auto flex justify-center pt-[81px] pb-[56px] max-xl:flex-col max-xl:pl-[24px] max-xl:pr-[24px]"
  >
    <div class="ltr:mr-[94px] rtl:ml-[94px]">
      <img src="Group 14.png" alt="" />
      <p
        class="text-[14px] w-[220px] leading-[26px] mt-[12.7px]"
        translate="home.footer.description"
      ></p>
      <div class="flex gap-[12px] mt-[24px]">
        @for (icon of icons ; track icon) {
        <div class="bg-purple-200 rounded-full">
          <button
            class="rounded-full w-[40px] h-[40px] transition-colors duration-3000"
            (click)="selectIcon(icon)"
            [ngClass]="{
            'bg-footer-active-icon': selectedIcon === icon,
          }"
          >
            <i class="fa-brands" [class]="icon"></i>
          </button>
        </div>
        }
      </div>
    </div>
    <div
      class="flex flex-col gap-[24px] lrt:mr-[72px] rtl:ml-[72px] max-xl:mt-[68px] max-xl:mb-[32px]"
    >
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.projects"
      ></a>
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.about_us"
      ></a>
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.real_estate_guide"
      ></a>
    </div>
    <div
      class="flex flex-col gap-[24px] ltr:mr-[56px] rtl:ml-[56px] max-xl:mb-[32px]"
    >
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.commercial_services"
      ></a>
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.partner_with_us"
      ></a>
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.contact_us"
      ></a>
    </div>
    <div class="flex flex-col gap-[24px] ltr:mr-[56px] rtl:ml-[56px]">
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.become_a_partner"
      ></a>
      <a
        href="https://www.google.com/"
        target="_blank"
        translate="home.footer.links.reserve_your_property"
      ></a>
    </div>
    <div class="leading-[28px] flex flex-col gap-[24px] max-xl:mt-[68px]">
      <p translate="home.footer.address"></p>
      <p translate="home.footer.phone"></p>
      <div class="flex justify-between max-xl:items-end">
        <p translate="home.footer.email"></p>
        <div
          class="w-[45px] h-[45px] rounded-[10px] bg-white flex justify-center items-center"
        >
          <i class="pi pi-chevron-up text-purple"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-purple flex font-inter text-[14px] text-white pt-[28px] pb-[28px] items-center relative max-xl:flex-col"
>
  <p
    class="font-[500] md:m-auto max-lg:pt-[32px] max-lg:pl-[24px] ltr:max-lg:mr-auto rtl:max-lg:ml-auto"
  >
    &#64;2022 <span class="text-footer-active-icon">Zrealtors.</span>
    {{ "home.footer.copyright" | translate }}
  </p>
  <div
    class="flex ltr:mr-[104px] rtl:ml-[104px] gap-[32px] font-[400] absolute right-0 max-lg:left-0 ltr:pl-[24px] rtl:pr-[24px]"
  >
    <p translate="home.footer.terms"></p>
    <p translate="home.footer.privacy"></p>
  </div>
</div>
